<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="PreProcessorUpper" class="edu.school21.spring.preprocessor.PreProcessorToUpperImpl"/>
    <bean id="PreProcessorLower" class="edu.school21.spring.preprocessor.PreProcessorToLower"/>

    <bean id="RenderErr" class="edu.school21.spring.renderer.RendererErrImpl">
        <constructor-arg ref="PreProcessorLower"/>
    </bean>

    <bean id="RenderStd" class="edu.school21.spring.renderer.RendererStandardImpl">
        <constructor-arg ref="PreProcessorUpper"/>
    </bean>

    <bean id="PrinterPrefix" class="edu.school21.spring.printer.PrinterWithPrefixImpl">
        <constructor-arg ref="RenderErr"/>
        <property name="prefix" value="This Is Prefix |"/>
    </bean>

    <bean id="PrinterDate" class="edu.school21.spring.printer.PrinterWithDateTimeImpl">
        <constructor-arg ref="RenderStd"/>
    </bean>

</beans>